.visibility-none {
  visibility: hidden;
}

.background-transparent {
  background-color: transparent;
}

.border-transparent {
  border: none;
}

.text-black {
  color: black;
}

// .show>.dropdown-menu {
//   display: block;
//   position: absolute;
// }